/*hero section*/
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background: url('headphones_hero_1.jpg') center/cover no-repeat;
    text-align: center;
    color: #fff;
    padding: 0 20px;
}